
/syn/static/*.ngc
/syn/pr_a/*.ngc
/syn/pr_b/*.ngc

/bitfiles/_impactbatch.log
/imp/config_pr_a/_xmsgs/
/imp/config_pr_a/system.bgn
/imp/config_pr_a/system.bit
/imp/config_pr_a/system.bld
/imp/config_pr_a/system.drc
/imp/config_pr_a/system.ncd
/imp/config_pr_a/system.ngd
/imp/config_pr_a/system.pad
/imp/config_pr_a/system.par
/imp/config_pr_a/system.pcf
/imp/config_pr_a/system.ptwx
/imp/config_pr_a/system.unroutes
/imp/config_pr_a/system.xpi
/imp/config_pr_a/system_bitgen.xwbt
/imp/config_pr_a/system_hwt_pr_block_0_hwt_pr_a_partial.bgn
/imp/config_pr_a/system_hwt_pr_block_0_hwt_pr_a_partial.bit
/imp/config_pr_a/system_hwt_pr_block_0_hwt_pr_a_partial.drc
/imp/config_pr_a/system_map.map
/imp/config_pr_a/system_map.mrp
/imp/config_pr_a/system_map.ngm
/imp/config_pr_a/system_map.xrpt
/imp/config_pr_a/system_map_prev_mapped.ncd
/imp/config_pr_a/system_map_prev_mapped.ngm
/imp/config_pr_a/system_ngdbuild.xrpt
/imp/config_pr_a/system_pad.csv
/imp/config_pr_a/system_pad.txt
/imp/config_pr_a/system_par.xrpt
/imp/config_pr_a/system_prev_built.ngd
/imp/config_pr_a/system_prev_routed.ncd
/imp/config_pr_a/system_summary.xml
/imp/config_pr_a/system_usage.xml
/imp/config_pr_a/usage_statistics_webtalk.html
/imp/config_pr_a/webtalk.log
/imp/config_pr_a/xlnx_auto_0_xdb/
/imp/config_pr_b/_xmsgs/
/imp/config_pr_b/system.bgn
/imp/config_pr_b/system.bit
/imp/config_pr_b/system.bld
/imp/config_pr_b/system.drc
/imp/config_pr_b/system.ncd
/imp/config_pr_b/system.ngd
/imp/config_pr_b/system.pad
/imp/config_pr_b/system.par
/imp/config_pr_b/system.pcf
/imp/config_pr_b/system.ptwx
/imp/config_pr_b/system.unroutes
/imp/config_pr_b/system.xpi
/imp/config_pr_b/system_bitgen.xwbt
/imp/config_pr_b/system_hwt_pr_block_0_hwt_pr_b_partial.bgn
/imp/config_pr_b/system_hwt_pr_block_0_hwt_pr_b_partial.bit
/imp/config_pr_b/system_hwt_pr_block_0_hwt_pr_b_partial.drc
/imp/config_pr_b/system_map.map
/imp/config_pr_b/system_map.mrp
/imp/config_pr_b/system_map.ngm
/imp/config_pr_b/system_map.xrpt
/imp/config_pr_b/system_map_prev_mapped.ncd
/imp/config_pr_b/system_map_prev_mapped.ngm
/imp/config_pr_b/system_ngdbuild.xrpt
/imp/config_pr_b/system_pad.csv
/imp/config_pr_b/system_pad.txt
/imp/config_pr_b/system_par.xrpt
/imp/config_pr_b/system_prev_built.ngd
/imp/config_pr_b/system_prev_routed.ncd
/imp/config_pr_b/system_summary.xml
/imp/config_pr_b/system_usage.xml
/imp/config_pr_b/usage_statistics_webtalk.html
/imp/config_pr_b/webtalk.log
/imp/config_pr_b/xlnx_auto_0_xdb/
/syn/static/_xmsgs/

